@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html, body{
    height: 100%;
}
.container{
    display: flex;
    height: 100%;
}
.column{
    flex: 50%;
    padding: 11% 4%;
}
.burger{
    background-color: #04A9F4;
    width: 75px;
}
.left-text{
    opacity: 0;
}
.right-text{
    opacity: 0;
}
.opening-text > h1{
    font-size: 45px;
    line-height: 35px;
    width: 260px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10%;
}
.opening-text{
    width: 60%;
    font-size: 12px;
    line-height: 25px;
}
.blue{
    background-color: #04A9F4;
    color: white;
}
.icon-blue > p{
    font-size: 12px;
}
.blue-icons{
    color:#04A9F4;
    background-color: white;
}
.material-icons{
    border-radius: 50%;
    padding: 5px;
    font-size: 5px;
    margin-right:20px;
}
.icon-blue{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-text{
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.whitebg{
    padding: 13% 6%;
    line-height: 22px;
}
.white{
    color: white;
    background-color: #04A9F4;
    padding: 10px;
}
.white-text{
    padding: 1%;
    font-size: 10px;
}
.header{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
}
@media screen and (max-width: 600px) {
  .container { 
    flex-direction: column;
  }
  .opening-text > h1{
      font-size: 27px;
      line-height: 22px;
      width: 160px;
      margin-bottom: 4%;
  }
  .opening-text{
      font-size: 10px;
      width: 300px;
      margin-bottom: 7%;
      line-height: 15px;
  }
  .blue{
      padding: 7% 9%;
  }
  .burger{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 4%;
}
.left-text{
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
}
.right-text{
    position: absolute;
    right: 0;
    color: #04A9F4;
    opacity: 1;
}
.white-text{
    margin-bottom: 5%;
    font-size: 10px;
}
.icon-text{
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.material-icons{
    border-radius: 50%;
    font-size: 18px;
    margin-right:10px;
}
.icon-blue > p{
    font-size: 10px;
}
.white{
    color: white;
    background-color: #04A9F4;
    padding: 10px;
}
.whitebg{
    padding: 7% 9%;
}
}
